body {
    font-family: Arial, sans-serif;
    /* background-color: #000000; */
    background-image: url(/static/img/Blackspace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    text-align: center;
    width: 400px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(139, 139, 147, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(222, 222, 222, 0.18);
    color: white;
}

.task-input {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#taskInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#addTaskBtn {
    padding: 10px;
    background: #007BFF;
    /* color: white; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addTaskBtn:hover {
    background: #0056b3;
}

#taskList {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #000000;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-item button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.complete-btn {
    background: #28a745;
    color: white;
}

.delete-btn {
    background: #dc3545;
    color: white;
}
